Node-red/node-red/data/.flows.json.backup
[{"id":"f1a2b3c4d5e6f7a8","type":"tab","label":"Gateway IoT","disabled":false,"info":"Telemetria ESP32 -> MQTT -> MySQL y comandos App -> MQTT"},{"id":"b1d2e3f4a5b6c7d8","type":"mqtt-broker","name":"Mosquitto Local","broker":"mosquitto","port":"1883","clientid":"node_red_gateway","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c1d2e3f4a5b6c7d8","type":"MySQLdatabase","name":"MySQL IoT","host":"mysql","port":"3306","db":"iot","tz":"local","charset":"UTF8"},{"id":"n1","type":"mqtt in","z":"f1a2b3c4d5e6f7a8","name":"Telemetria desde ESP32","topic":"grupoM3/sensor/temperatura","qos":"1","datatype":"auto-detect","broker":"b1d2e3f4a5b6c7d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":120,"wires":[["n2"]]},{"id":"n2","type":"json","z":"f1a2b3c4d5e6f7a8","name":"Parse JSON","property":"payload","action":"obj","pretty":false,"x":380,"y":120,"wires":[["n3","n9"]]},{"id":"n3","type":"function","z":"f1a2b3c4d5e6f7a8","name":"SQL Insert Telemetria","func":"const raw = msg.payload;\nlet p = {};\n\nif (raw && typeof raw === 'object' && !Array.isArray(raw)) {\n    p = raw;\n} else {\n    const temp = Number(raw);\n    p = { temperature: Number.isFinite(temp) ? temp : null };\n}\n\nconst deviceId = p.device_id || p.deviceId || 'esp32-01';\nconst temperature = Number.isFinite(Number(p.temperature)) ? Number(p.temperature) : null;\n\nmsg.topic = 'INSERT INTO telemetry (device_id, temperature) VALUES (?, ?)';\nmsg.payload = [deviceId, temperature];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":120,"wires":[["n4"]]},{"id":"n4","type":"mysql","z":"f1a2b3c4d5e6f7a8","mydb":"c1d2e3f4a5b6c7d8","name":"Guardar Telemetria","x":860,"y":120,"wires":[["n5"]]},{"id":"n5","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"Telemetria guardada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":120,"wires":[]},{"id":"n6","type":"http in","z":"f1a2b3c4d5e6f7a8","name":"POST comando","url":"/api/comando","method":"post","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["n7"]]},{"id":"n7","type":"function","z":"f1a2b3c4d5e6f7a8","name":"Validar + preparar comando","func":"const body = msg.payload || {};\nconst deviceId = body.device_id || body.deviceId || 'esp32';\nconst rawCommand = (body.comando || body.command || '').toString().trim();\n\nif (!rawCommand) {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'Falta campo comando' };\n    return [null, msg, null];\n}\n\nconst command = rawCommand.toUpperCase();\n\nif (command !== 'ENCENDER' && command !== 'APAGAR') {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'Comando invalido. Usa ENCENDER o APAGAR.' };\n    return [null, msg, null];\n}\n\nconst mqttMsg = {\n    topic: 'grupoM3/comandos',\n    payload: command,\n    qos: 1,\n    retain: false\n};\n\nconst sqlMsg = {\n    topic: 'INSERT INTO commands (device_id, command_text, origin) VALUES (?, ?, ?)',\n    payload: [deviceId, command, 'app']\n};\n\nconst respMsg = {\n    _msgid: msg._msgid,\n    req: msg.req,\n    res: msg.res,\n    statusCode: 200,\n    payload: { ok: true, enviado: true, device_id: deviceId, comando: command }\n};\n\nreturn [mqttMsg, respMsg, sqlMsg];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["n8"],["n12"],["n10"]]},{"id":"n8","type":"mqtt out","z":"f1a2b3c4d5e6f7a8","name":"Enviar a ESP32","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b1d2e3f4a5b6c7d8","x":670,"y":240,"wires":[]},{"id":"n10","type":"mysql","z":"f1a2b3c4d5e6f7a8","mydb":"c1d2e3f4a5b6c7d8","name":"Guardar Comando","x":670,"y":320,"wires":[["n11"]]},{"id":"n11","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"Comando guardado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":320,"wires":[]},{"id":"n12","type":"http response","z":"f1a2b3c4d5e6f7a8","name":"Respuesta comando","statusCode":"","headers":{},"x":670,"y":280,"wires":[]},{"id":"n13","type":"http in","z":"f1a2b3c4d5e6f7a8","name":"GET historial","url":"/api/historial","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["n14"]]},{"id":"n14","type":"function","z":"f1a2b3c4d5e6f7a8","name":"SQL Select Historial","func":"const q = msg.req.query || {};\nconst deviceId = q.device_id || 'esp32-01';\nlet limit = parseInt(q.limit || '50', 10);\nif (!Number.isFinite(limit) || limit < 1) limit = 50;\nif (limit > 500) limit = 500;\n\nmsg.topic = 'SELECT id, device_id, temperature, created_at FROM telemetry WHERE device_id = ? ORDER BY id DESC LIMIT ?';\nmsg.payload = [deviceId, limit];\nmsg._deviceId = deviceId;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":420,"wires":[["n15"]]},{"id":"n15","type":"mysql","z":"f1a2b3c4d5e6f7a8","mydb":"c1d2e3f4a5b6c7d8","name":"Consultar Historial","x":630,"y":420,"wires":[["n16"]]},{"id":"n16","type":"function","z":"f1a2b3c4d5e6f7a8","name":"Formatear respuesta","func":"msg.payload = {\n  ok: true,\n  device_id: msg._deviceId,\n  total: Array.isArray(msg.payload) ? msg.payload.length : 0,\n  data: msg.payload\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":420,"wires":[["n17"]]},{"id":"n17","type":"http response","z":"f1a2b3c4d5e6f7a8","name":"Respuesta historial","statusCode":"","headers":{},"x":1080,"y":420,"wires":[]},{"id":"n9","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"Telemetria recibida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":180,"wires":[]},{"id":"cecacaee9d7e42b2","type":"mqtt in","z":"f1a2b3c4d5e6f7a8","name":"Android Modo","topic":"grupoM3/set/modo","qos":"1","datatype":"auto-detect","broker":"b1d2e3f4a5b6c7d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":480,"wires":[["38019c786ba6d794"]]},{"id":"38019c786ba6d794","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":480,"wires":[]},{"id":"7113c46856cac048","type":"mqtt in","z":"f1a2b3c4d5e6f7a8","name":"Android Temperatura Baja","topic":"grupoM3/set/tempFrio","qos":"1","datatype":"auto-detect","broker":"b1d2e3f4a5b6c7d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":560,"wires":[["2f22b612955b0904"]]},{"id":"2f22b612955b0904","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":560,"wires":[]},{"id":"ed6d2068d1873b14","type":"mqtt in","z":"f1a2b3c4d5e6f7a8","name":"Android Temperatura Media","topic":"grupoM3/set/tempMedio","qos":"1","datatype":"auto-detect","broker":"b1d2e3f4a5b6c7d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":620,"wires":[["54d535e861d95a0c"]]},{"id":"54d535e861d95a0c","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":620,"wires":[]},{"id":"9b4c80081cf0f4c8","type":"mqtt in","z":"f1a2b3c4d5e6f7a8","name":"Android Temperatura Alta","topic":"grupoM3/set/tempCaliente","qos":"1","datatype":"auto-detect","broker":"b1d2e3f4a5b6c7d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":700,"wires":[["729103dbeb3f190b"]]},{"id":"729103dbeb3f190b","type":"debug","z":"f1a2b3c4d5e6f7a8","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":700,"wires":[]}]